%ul.settings{ :data => { :role => "listview", :inset => 'true' } }
  %li{ :data => { :theme => 'b' } } Configure
  %li= link_to "User Settings", edit_user_path(current_user)
  %li= link_to "Sign Out", signout_path, :confirm => "Are you sure you want to sign out?"
