!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => 'Content-Type' }
  %body
    %h1 Magic Hat Group Invitation
    %p You have been invited to join the group #{@group.name} on Magic Hat.
    %p Complete tasks from anywhere, and now team up with your friends or organization as you get things done.
    =link_to "Click here to accept.", '#'
