%h1 Home#index
%p Find me in app/views/home/index.html.haml
- unless user_signed_in?
  %ul{ :class => "unauthenticated" }
    %li
      %a= link_to 'Sign In', 'users/sign_in'
    %li
      %a= link_to 'Register', 'users/sign_up'
