%h1.masthead Magic Hat
#elevator-pitch
  :textile
    Magic Hat is an _Agile_ tool to help you get things done. More than a task manager, it helps you develop *good habits*, monitor your performance, and build a *better* you.
= link_to "Sign up now!", signup_path, :class => "signup_button round"
