-# Provide this view with a collection of invitations
%div{ :data => { :role => "page" } }
  = render 'layouts/header', :right_button => nil,
    :left_button => { :text => "Dashboard",
    :path => dashboard_path, :options => { 'data-icon' => 'arrow-l',
    'data-transition' => 'slide', 'data-direction' => 'reverse',
    'data-ajax' => 'false' } }
  %div.invitation-view{ :data => { :role => 'content' } }
    %ul{ :data => { :role => 'listview', 'split-icon' => 'delete' } }
      - @invitations.each do |invitation|
        %li.invitation
          %p.ui-li-aside= time_ago_in_words(invitation.created_at) + " ago"
          =link_to "Accept Invitation to \"#{ invitation.group.name }\"", accept_group_invitation_path(invitation.group_id, invitation), method: 'POST'
          %a{ href: "#" } Delete Invitation
