-# See config/navigation.rb for the source for the navigation list.
-# = render_navigation(:level => 1)
-# = render_navigation(:level => 2)
.header-bar{ :data => { :role => "header", :backbtn => "false" } }
  %h1
    = @title
  - if left_button
    = link_to left_button[:text], left_button[:path],
      left_button[:options].merge(:class => 'ui-btn-left')
  - if right_button
    = link_to right_button[:text], right_button[:path],
      right_button[:options].merge(:class => 'ui-btn-right')
